body{
    font-family:Andale mono, monospace;
    background-color:white;
}


body {margin:0;}



div.grad1 {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(gray, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(gray, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(gray, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(gray, white); /* Standard syntax */
}



h1 {
    text-align:center;
    font-size:1.5em;
    border-bottom: solid 1px; 
}
h2{ 
    clear:both;
    font-size:1.5em;
    border-bottom:solid 1px; 
    text-align:center;
    padding-top:50px;
    padding-right:20px;
    padding-left:20px;
}

div.float_right{
    padding:1px 16px;
    height:1000px;
}

/* Gallery Settings*/
div.gallery{
    margin: 13px 5px;
    border:1px solid #ffffff;
    float:left;
    width:180px;
    height:180px;
}
div.gallery:hover{
    border:1px solid #777;
}
div.gallery img{
    width:100%;
    height:;
    }
div.description{
    text-align:center;
    font-size:11px;
    height:23px;
    background-color:white;
    border-top:1px solid black;
}
/*End Gallery Settings*/




/*Resume Formatting*/

h3{
    font-size:3.4em;
    font-weight:1000;
    margin:0;
    padding:0;
}
h4{
    margin:0;
    padding:0px 0px 10px 0px;;
    font-size: 1.5em;
}
h5{
    padding-bottom:5px;
    margin-bottom:0;
    font-size:1.8em;
    text-align:center;
}
h6{
    margin:5px 0px 10px 0px;;
    padding:0;
    font-size:1.4em;
    color:maroon;
}
div.head{
    margin:0px 5% 10px 5%; 
}
div.head_float_r{
    float:right;
    text-align:right;
}
div.resume_float_r{
    float:right;
    width:24%;
    height:100%;
    text-align:left;
    border-left-style: solid ;
    border-left-width:1px;
    margin-right: 7%;
    padding-left:2%
}
div.resume_float_l{
    width:56%;
    padding-left:5%;
    margin-right:5%;
    text-align:left;
}


/*End Resume Formatting*/


p {
    padding-right:20px;
    padding-left:20px;
    text-align:justify;
    font-weight:lighter;
}

p.resume {
    padding-right:0px;
    padding-left:0px;
    text-align:justify;
    font-weight:lighter;
}
img.float_right{
    float:right;
    margin:0 0 10px 10px;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    position:fixed;
    top:0;
    width:100%;   
}

li{
    background-color:#666;
    border-right:solid 1px #333;
    border-bottom:solid 1px #333;
    float:left;
}

li a{
    display:block;
    text-align:center;
    color:#000;
    padding: 14px 16px;
    text-decoration:none;
}

li a:hover:not(.active){
    background-color:#a0a0a0;
    color:white;
}
li a.active{
    background-color: #4caf50;
    color:white;
}


li.resume{
    
    float:none;
    border-style:none;
    background-color:white;
    margin: 5px 5px 5px 5px;
}
ul.resume{
    display:inline;
    list-style-type: circle;
    overflow:hidden;
    position:static;
    font-size:0.9em;
}

div.end{
    height:1100px;
}
