body{
    font-family:sans-serif;
    background-color:lightgray;
}



div.grad1 {
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(blue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, white); /* Standard syntax */
}



h1 {
    borderstyle-bottom:line;
}

h2{
    borderstyle-bottom:line;
}

div.float_right{
    margin-left:25%;
    padding:1px 16px;
    height:1000px;
}

p {
    font-family:arial;
    font-weight:lighter;
}


ul{
    list-style-type:none;
    margin:0;padding:0;width:25%;
    background-color:#f1f1f1;
    position:fixed;
    height:100%;
    overflow:auto;
}

li a{
    display:block;
    color:#000;
    padding: 8px 16px;
    text-decoration:none;
}

li a.active{
    background-color: #4caf50;
    color:white;
}

li a:hover:not(.active){
    background-color:#a0a0a0;
    color:white;
}
